.error-message {
    display: flex;
    align-items: center;
}
.error-message i {
    font-size: 3em;
    color: red;
    margin-right: .5em;
}
.error-message p {
    font-size: 1.7em;
    font-weight: 100;
}