.display {
    width: 100vw;
    height: 100vh;
    background: #f2f2f2;
    border: 12px solid black;
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.display-title {
    margin-bottom: -.5em;
}
.display-output {
    font-weight: 600;
    font-size: 3em;
    letter-spacing: 10px;
    margin: 0;
}
