.container {
    width: 100vw;
    height: 80vh;
}

.icon i {
    font-size: 20em;
    margin: .2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: .51em;
    font-size: 5em;
}

.small-icon {
    align-self: flex-start;
}

.small-icon i {
    font-size: 10em;
    animation: rotation 10s infinite forwards;
}

.right {
    position: absolute;
    right: 5em;
}

.summer {
    color: #efc300;
}

.winter {
    color: #b2e5f4;
}

.autumn {
    color: #f29509;
}

.spring {
    color: #389904;
}
.display-output {
    display: flex;
    justify-content: center;
}

.season-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.season-display p {
    color: grey;
    font-weight: 100;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}